.container-fluid
  .row.profiler
    .span2
      %img{src: @user.pic,class:"img-polaroid"}
    .span4
      %table
        %tr
          %td{width:"50%"}
            Name
          %td
            = "#{@user.firstname} #{@user.lastname}"
        %tr
          %td{width:"50%"}
            Contact No:
          %td
            = @user.contact_no
        %tr
          %td{width:"50%"}
            Birthday
          %td
            = @user.birthday.strftime('%m/%d/%Y')
        %tr
          %td{width:"50%"}
            Likes received
          %td
            = @user.total_likes
  %hr
  
    %b MY COMIC STAND
    %br
    %br
    - @comics.each do |comic|
      .row.profiler
        .span2
          %img{src:"/assets/sample.jpg",class:"img-polaroid"}
        .span4
          %h4
            TITLE GOES HERE
          %p
            Some description here....
    .row.profiler
      .span2
        %img{src:"/assets/sample.jpg",class:"img-polaroid"}
      .span4
        %h4
          TITLE GOES HERE
        %p
          Some description here....
    %br

    .row.profiler
      .span2
        %img{src:"/assets/sample.jpg",class:"img-polaroid"}
      .span4
        %h4
          TITLE GOES HERE
        %p
          Some description here....

  - if current_user.eql?(@user)
    = link_to 'New Comic', new_comic_path

