.navbar.navbar-default.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: root_path}
        %img.logo{src: "/assets/logo.png"}/
      .nav-collapse.collapse
        %ul.nav.menu
          %li.active
            = nav_item "Home", root_path
          %li{class: "#share"}
            = nav_item "Share your works", "#"
          %li
            = nav_item "Join our community", "#"
          %li
            = nav_item "Login", "#"
          %li
            = link_to "Browse Comics", free_comics_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Categories
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: "#"} Action
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li.nav-header Nav header
              %li
                %a{href: "#"} Separated link
              %li
                %a{href: "#"} One more separated link
          %li.search-works
            %form.form-search
              / .input-append
              %input.span3.search-query{type: "text", placeholder:"Discover some works"}/
              / %button.btn{type: "submit"}
              /   %i.icon-home
      / /.nav-collapse